/* Selected chunks from sytle.blue that I changed */
/* ---------------------------------------------- */

/* Line 792 */
.jumbotron {
  padding: 30px;
  margin-bottom: 0;
  position: relative;
  /* SAO: I replaced the picture with this one here: */
  background: url('../img/carousel/photogrid.jpg') center center repeat;
  background-size: cover;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* Line 1144 */
.home-carousel {
  position: relative;
  /* SAO: I replaced the picture with this one here: */
  background: url('../img/carousel/photogrid.jpg') center center repeat;
  background-size: cover;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* Line 1771 */
.bar.background-image-fixed-1 {
  /*background: url('../img/fixed-background-1.jpg') center top no-repeat;*/
  /* SAO: I replaced the picture with this one here: */
  background: url('../img/see_more/screenshot_r_course.png') center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.8;
}

/* Line 1776 */
.bar.background-image-fixed-2 {
  /*background: url('../img/fixed-background-2.jpg') center top no-repeat;*/
  /* SAO: I replaced the picture with this one here: */
  background: url('../img/see_more/screenshot_r_course.png') center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.8;
}


/* your styles go here */

/* .box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
} */
