/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370 -> #7c828c
hue-1:   #56b6c2 -> #952226
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379   -> #56b6c2
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #e5e5e5; /* #abb2bf; */
  background: #282c34;
}


.hljs-comment,
.hljs-quote {
  color: #7c828c; /* #5c6370; */
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #D63137; /*#56b6c2;*/
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #56b6c2;/* #98c379; */
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

/*  == Modifications for the Output == */


.hljs.shell {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #5c6370;
  background:#e9e9ea; /* #eeeeee; */
}

/* the elements inside above div classes do not show the color I want;
I will define them explitly here (including color of first hashtag
in output): */

.hljs.shell .hljs-comment,
.hljs.shell .hljs-meta  {
  color: #5c6370;
  font-style: normal;
}



/*  some R output is generated as class .hljs.css, which is odd;
maybe the reason is the hihjlight js has no support for R it is a problem
of blogdown? Using for not same settings in css as in .shell */

.hljs.css {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #5c6370;
  background:#e9e9ea;
}

.hljs.css .hljs-comment,
.hljs.css .hljs-meta {
  color: #5c6370;
  font-style: normal;
}

/* some outputs have a selector class (for whatever reason,
 here I need to force the color with important! */
 .hljs.css .hljs-selector-class,
 .hljs.css .hljs-selector-attr {
   color: #5c6370;
   font-style: normal;
 }

/*   alternative solutions: to force all elements in .hljs.css to
have that color: */
/* .hljs.css * {
  color: #5c6370 !important;
} */
