/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */

.hljs {
  display: block;
  /* background: white; */
  padding: 0.5em;
  color: #333333;
  overflow-x: auto;
  background: #F5F5F5; /*#f8f8f8; */
}

.hljs-comment,
.hljs-meta {
color: #969896;   /* #969896;  9A2D5C */
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: #df5000; /* rot */
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #a71d5d;  /* #pink/purple */
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
  color: #0086b3; /* blau */
}

.hljs-number {
  color: #285d7a;
}

.hljs-section,
.hljs-name {
  color: #63a35c; /* blau */
}

.hljs-tag {
  color: #333333; /* blau */
}

.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #795da3; /* blau */
}

.hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}

.hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}

.hljs-link {
  text-decoration: underline;
}
